{% trans_default_domain 'security' %}

<h1>Hi!</h1>

<p>
    {{ 'security.reset_password.email.info'|trans({
        '%url%': url('app_forgot_password_reset', {token: resetToken.token}),
        '%expire%': tokenLifetime|date('g')
    })|raw }}
</p>
